/* Desktop navigation */
.nav-link {
    padding: 8px 12px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .nav-link:hover {
    color: purple;
  }
  
  .nav-link.active {
    color: purple;
    border-bottom: 2px solid purple;
  }
  
  /* Mobile drawer nav */
  .drawer-link {
    text-decoration: none;
    color: black;
  }
  
  .drawer-link.active .MuiListItem-root {
    background-color: #f3e5f5; /* Light purple background */
    font-weight: bold;
  }
  